a.navbar:link , a.navbar:visited , a.navbar:active {
font-family : Arial;
font-size : 18px;
color : #000;
text-decoration : none;
vertical-align : middle;
padding : 5px;
padding-top : 3px; 
}

a.navbar:hover {
font-family : Arial;
font-size : 18px;
color : #000;
text-decoration : none;
vertical-align : middle;
padding : 5px;
padding-top : 3px;
}

li.navbar {
	list-style-image: url(http://www.rifkinforsenate.org/img/bullet.gif); list-style-type: square;
	}